<script src="public/user/js/jquery.js"></script>
<script src="public/user/js/bootstrap.js"></script>
<script src="public/user/js/respond.min.js"></script>
<script src="public/user/js/application.js"></script>
<script src="public/user/js/bootstrap-tooltip.js"></script>
<script defer src="public/user/js/jquery.fancybox.js"></script>
<script defer src="public/user/js/jquery.flexslider.js"></script>
<script type="text/javascript" src="public/user/js/jquery.tweet.js"></script>
<script  src="public/user/js/cloud-zoom.1.0.2.js"></script>
<script  type="text/javascript" src="public/user/js/jquery.validate.js"></script>
<script type="text/javascript"  src="public/user/js/jquery.carouFredSel-6.1.0-packed.js"></script>
<script type="text/javascript"  src="public/user/js/jquery.mousewheel.min.js"></script>
<script type="text/javascript"  src="public/user/js/jquery.touchSwipe.min.js"></script>
<script type="text/javascript"  src="public/user/js/jquery.ba-throttle-debounce.min.js"></script>
<script defer src="public/user/js/custom.js"></script>
<script src="public/user/js/myscript.js"></script>